@charset "utf-8";
/* CSS Document */
body,p,h1,h2,h3,h4,h5,h6,ul,dl,dd,td,input,fieldset,textarea,option{ margin:0; padding:0; box-sizing: border-box}
li{list-style:none;}
a{text-decoration:none; color:#333;}
img{border:none; vertical-align:top; }
a,input{outline:none;}
h1,h2,h3,h4,h5,h6,b,strong{font-weight:100;}
i,em{font-style:normal;}
body{font:12px "微软雅黑";}
.clear{zoom:1;}
.clear:after{content:"."; display:block; clear:both; height:0; visibility:hidden;}
.fl{float:left;}
.fr{float:right;}
div,p{
    box-sizing: border-box
}

.panel{
    width: 1200px;
    margin: 0 auto;
    padding: 10px;
}
.head{
    width: 900px;
    height: 70px;
    margin: 0 auto;
    display: flex;
}
.head-logo{
    width: 200px;
    height: 60px;
}
.log-box{
    flex: 1;
    padding-left: 180px;
    display: inline-block;
}
.logo-panel{
    display: flex;
    width: 100%;
    height: 100%;
}
.logo-one-box{
    flex: 1;
    padding-top: 3px
}
.index-logo{
    width: 45px;
}
.index-text{
    font-size: 14px;
    margin-left: 8px;
    color: #b4b4b4
}
.index-text-active{
    color: #ff584f
}
.banner {
    width: 100%;
    height: 350px;
}
.banner-img {
    width: 100%;
    height: 100%;
}
.banner-active{
    display: block !important;   
}
.panel-width{
    width: 900px;
    margin: 0 auto;
}

.footer{
    width: 100%;
    height: 220px;
    background-color: #333333;
}
.footer-top{
    width: 100%;
    height: 120px;
    border-bottom: 1px solid #858585;
    text-align: center;
    line-height: 120px;
    color: #999999
}
.weima{
    width: 80px;
    margin-top: 18px;
}
.text1{
    margin-right: 10px
}
.text2{
    margin-left: 10px
}
.footer-bottom{
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #858585;
    text-align: center;
    line-height: 25px;
    color: #999999;
    margin-top: 25px;
}
.jp-content{
    background: #f5f5f5;
    padding: 0 0 50px 20px;
}
.jp-box{
    width: 420px;
    border-radius: 10px;
    height: 240px;
    background-color: white;
    display: inline-block;
    margin-right: 16px;
    margin-top: 20px;
    cursor: pointer;
}
.hot-video-img {
    width: 100%;
    height: 182px;
}
.content-title{
    font-size: 17px;
    margin-left: 10px;
    margin-top: 7px;
}
.content-desc{
    margin-left: 10px;
    margin-top: 5px;
    color: #858585;
}
.overflow-hidden{
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis
}
.bought-button{
    width: 60px;
    height: 25px;
    background-color: #ff3728;
    border: 0;
    border-radius: 35px;
    color: white;
    float: right;
    margin-right: 20px;
}
.button-disable{
    background-color: #999999 !important
}