@charset "utf-8";
/* CSS Document */
body,p,h1,h2,h3,h4,h5,h6,ul,dl,dd,td,input,fieldset,textarea,option{ margin:0; padding:0; box-sizing: border-box}
li{list-style:none;}
a{text-decoration:none; color:#333;}
img{border:none; vertical-align:top; }
a,input{outline:none;}
h1,h2,h3,h4,h5,h6,b,strong{font-weight:100;}
i,em{font-style:normal;}
body{font:12px "微软雅黑";}
.clear{zoom:1;}
.clear:after{content:"."; display:block; clear:both; height:0; visibility:hidden;}
.fl{float:left;}
.fr{float:right;}
div,p{
    box-sizing: border-box
}

.panel{
    width: 1200px;
    margin: 0 auto;
    padding: 10px;
}
.content-left>span{
    position: absolute;
    top: 26px;
    left: 32px;
    font-size: 20px;
    color: #999999;
}

.banner {
    width: 100%;
    height: 350px;
}
.banner-img {
    width: 100%;
    height: 100%;
}
.banner-active{
    display: block !important;
}
.panel-width{
    width: 900px;
    margin: 0 auto;
}
.four-button-box{
    display: flex;
    height: 150px;
    margin-top: 10px;
    margin: 0 auto;
    cursor: pointer;
}
.button-box{
    flex: 1;
    text-align: center;
    margin-top: 20px;
}
.button-icon{
    width: 90px;
}
.button-text{
    font-size: 15px;
    margin-top: 5px;
    color: #b4b4b4
}
.adv-box{
    height: 180px;
    box-shadow: 0px 0px 1px 1px #ccc;
    border-radius: 5px;
    margin-top: 15px;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
}
.adv-one-box{
    flex: 1;
    display: flex;
    cursor: pointer;
}
.adv-line{
    border-right: 1px solid #cccccc
}
.adv-text{
    flex: 1;
    height: 100%;
}
.adv-img{
    flex: 1;
    height: 100%;
}
.adv-title{
    font-size: 35px;
    color: #333333;
    margin-top: 10px;
}
.adv-desc{
    font-size: 18px;
    color: #b4b4b4;
    margin-top: 20px;
}
.adv-img-png{
    width: 160px
}
.class-title{
    height: 80px;
}
.class-text{
    display: inline-block;
    height: 40px;
    margin-top: 20px;
    font-size: 22px;
    border-left: 5px solid #ff584f;
    padding-left: 10px;
    line-height: 37px;
}
.more-text {
    display: inline-block;
    height: 40px;
    margin-top: 20px;
    font-size: 18px;
    padding-left: 10px;
    line-height: 37px;
    float: right;
    color: #b4b4b4;
    margin-right: 10px;
    cursor: pointer;
}
.more-img{
    float: right;
    width: 25px;
    margin-top: 24px;
}
.content-box{
    width: 100%;
    height: 360px;
    display: flex;
}
.content-left{
    width: 560px;
    height: 100%;
    position: relative;
}
.content-right{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.content-img{
    width: 100%;
    height: 99%;
    margin-right: 10px;
    border-radius: 8px;
}
.content-small{
    /*flex: 1;*/
    display: flex;
    margin-top: 10px;
    cursor: pointer;
}
.content-small:nth-child(1){
	margin: 0px;
}
.small-left{
    width: 143px;
    height: 81px;
    display: inline-block;
    margin-left: 10px;
    border-radius: 6px;
    box-shadow: 0px 0px 1px 1px #ccc;
}
.small-right{
    padding-left: 10px;
    width: 183px
}
.small-left-img{
    width: 100%;
    height: 81px;
}
.small-title{
    font-size: 14px;
    color: #333333;
}
.small-desc{
    font-size: 12px;
    margin-top: 10px;
    color: #b4b4b4;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis
}
.overflow-hidden{
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis
}
.video-box{
    width: 100%;
    height: 150px;
    display: flex;
}
.video-one{
    /*flex: 1;*/
    position: relative;
    margin-left: 5px;
    cursor: pointer;
}
.video-one:nth-child(1){
	margin: 0px;
}
.video-img{
    border-radius: 5px;
    width: 176px;
    height: 99px;
}
.video-text {
    text-align: center;
    padding-top: 10px;
    font-size: 15px;
    color: #666666;
    width: 175px
}
.video-margin{
    margin-left: 5px
}
.video-title{
    position: absolute;
    top: 7px;
    left: 12px;
}
.footer{
    width: 100%;
    height: 220px;
    background-color: #333333;
}
.footer-top{
    width: 100%;
    height: 120px;
    border-bottom: 1px solid #858585;
    text-align: center;
    line-height: 120px;
    color: #999999
}
.weima{
    width: 80px;
    margin-top: 18px;
}
.text1{
    margin-right: 10px
}
.text2{
    margin-left: 10px
}
.footer-bottom{
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #858585;
    text-align: center;
    line-height: 25px;
    color: #999999;
    margin-top: 25px;
}.question-but{
    width: 20px;
    height: 23px;
    background-color: #ff584f;
    color: white;
    border-radius: 4px;
    text-align: center;
    line-height: 23px;
    display: inline-block;
}
.question-input{
    width: 85%;
    font-size: 15px;
    height: 20px;
    border: none;
}
.tow-box{
    padding: 7px;
    border-bottom: 1px solid #cccccc;
}
.tow-box > p {
    display: inline-block;
    color: #999999
}
.tow-box > img {
    width: 16px;
}
.tree-box > textarea {
    width: 100%;
    height: 100px;
    margin-top: 15px;
    border: none;
    color: #999999;
    outline: none;
}
.camera-box{
    width: 120px;
    height: 120px;
    border: 1px dashed #cccccc;
    display: inline-block;
    text-align: center;
    margin-top: 15px;
    cursor: pointer;
    float: left;
}
.camera-box > img {
    width: 100%;
    height: 100%;
    margin-top: 10px;
}
.camera-box > p {
   color: #999999;
}
.submit-button{
    width: 40%;
    height: 40px;
    background-color: #ff3728;
    color: white;
    border: none;
    margin-left: 30%;
    border-radius: 30px;
    margin-top: 20%;
    margin-bottom: 10%;
    cursor: pointer;
    outline: none;
}