<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport"
    content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta http-equiv="Cache-Control" content="no-transform">
  <meta http-equiv="Cache-Control" content="no-siteapp">
  <meta name="applicable-device" content="pc">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-eqiv="cleartype" content="ON">
  <meta http-eqiv="cleartype" content="ON">
  <link href="phone-css/course.css" rel="stylesheet" type="text/css" />
  <link href="phone-css/common.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="panel">

    <!-- 轮播图开始 -->
    <div ng-include="'include/banner.html'"></div>
    <!-- 轮播图结束 -->

    <!-- 搜索开始 -->
    <div class="panel-width search-box" style="position: relative;">
      <form style="width:100%">
        <div class="search-input-box" onclick="menuShow()">
          <img class="search-icon" src="img/search-icon.png" alt="">
          <input id="searchButton" class="search-input" type="search" readonly/>
        </div>
      </form>
      <img onclick="menuShow()" class="img-icon" src="img/search-more.png" alt="">
      <div id="menu" style="display: none;">
        <div class="menu">
          <div class="menu-item">
            <div class="item-text-box" ng-repeat="item in courseGroupTypeList" ng-click="groupChange(item.name)">
              <p>{{item.name}}</p>
            </div>
          </div>
        </div>
        <i class="login-sanjiaoB"></i>
      </div>
    </div>
    <!-- 搜索结束 -->
    
    <!-- 职业规划开始 -->
    <div class="panel-width" ng-repeat="item in courseGroupTypeList" ng-if="!isShowType || isShowType == item.name">
      <div class="class-title">
        <p class="class-text">{{item.name}}</p>
        <img class="more-img" src="img/right.png" alt="" ng-click="goSearch(item.id)">
        <p class="more-text">更多</p>
      </div>
      <div class="content-box">
        <div class="video-one" ng-repeat="group in item.courseGroupLists track by $index" ng-click="goCourseDetails(group.courseGroupId)">
          <img class="video-img" src="{{group.courseGroupImg}}" alt="">
          <p class="video-text overflow-hidden">{{group.courseGroupName}}</p>
        </div>
      </div>
    </div>
    <!-- 职业规划结束 -->
    <div class="di-box"><span class="line-di"></span>我们也是有底线的<span class="line-di"></span></div>
  </div>
  <!-- footer bar -->
  <div class="footer-bar">
    <div class="footer-item" ng-click="go('home')">
      <img src="img/index-hui.png" alt="">
      <p>首页</p>
    </div>
    <div class="footer-item" ng-click="go('phone-course')">
      <img src="img/class-active.png" alt="">
      <p class="font-act">课程</p>
    </div>
    <div class="footer-item" ng-click="go('phone-boutique')">
      <img src="img/jingpin-hui.png" alt="">
      <p>精品</p>
    </div>
    <div class="footer-item" ng-click="go('phone-mine')">
      <img src="img/my-hui.png" alt="">
      <p>我的</p>
    </div>
  </div>
</body>
</html>