<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport"
    content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta http-equiv="Cache-Control" content="no-transform">
  <meta http-equiv="Cache-Control" content="no-siteapp">
  <meta name="applicable-device" content="pc">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-eqiv="cleartype" content="ON">
  <meta http-eqiv="cleartype" content="ON">
  <link href="phone-css/marketing-personInfo.css" rel="stylesheet" type="text/css" />
  <link href="phone-css/common.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="panel">
    <div class="person-box">
      <img class="person-img" src="img/test.jpg" alt="">
      <div class="right-content">
        <p>&nbsp;&nbsp;&nbsp;<span>登录</span>/<span>注册</span></p>
        <p class="level">等级：-------</p>
      </div>
    </div>
    <div class="content-right">
        <div class="panel-width">
            <div class="content-small">
                <div class="small-left">
                    电话
                </div>
                <div class="small-right">
                  <input type="text" placeholder="138****1188" name="phoneNo"  message="电话号码" ng-model="phoneNo"/>
                </div>
            </div>
            <div class="content-small">
                <div class="small-left">
                    性别
                </div>
                <div class="small-right">
                  <input type="text" placeholder="完善性别信息" name="sex"  message="性别" ng-model="sex"/>
                </div>
            </div>
            <div class="content-small">
                <div class="small-left">
                    生日
                </div>
                <div class="small-right">
                  <input type="text" placeholder="完善生日信息" name="birthDay"  message="生日" ng-model="birthDay"/>
                </div>
            </div>
            <div class="content-small">
                <div class="small-left">
                    毕业院校
                </div>
                <div class="small-right">
                  <input type="text" placeholder="完善毕业院校信息" name="graduation"  message="毕业院校" ng-model="graduation"/>
                </div>
            </div>
            <div class="content-small">
                <div class="small-left">
                    任职企业
                </div>
                <div class="small-right">
                  <input type="text" placeholder="完善任职企业信息" name="companyInfo"  message="任职企业" ng-model="companyInfo"/>
                </div>
            </div>
            <div class="content-small personInfo">
                <div class="small-left">
                    个人简介
                </div>
                <div class="personDiv">
                    <textarea class="personText">这位宝宝很懒,还不想让别人了解自己...</textarea>
                </div>
            </div>
        </div>
    </div>
  <div class="buttonDiv">
    <button class="login-button" ng-click="sub()">保存</button>
  </div>
  </div>
  <!-- footer bar -->
  <div class="footer-bar">
    <div class="footer-item" ng-click="go('phone-home')">
      <img src="img/index-hui.png" alt="">
      <p>首页</p>
    </div>
    <div class="footer-item" ng-click="go('phone-course')">
      <img src="img/class-hui.png" alt="">
      <p >课程</p>
    </div>
    <div class="footer-item" ng-click="go('phone-boutique')">
      <img src="img/jingpin-hui.png" alt="">
      <p>精品</p>
    </div>
    <div class="footer-item" ng-click="go('phone-mine')">
      <img src="img/my-act.png" alt="">
      <p class="font-act">我的</p>
    </div>
  </div>
</body>
</html>