<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport"
    content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta http-equiv="Cache-Control" content="no-transform">
  <meta http-equiv="Cache-Control" content="no-siteapp">
  <meta name="applicable-device" content="pc">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-eqiv="cleartype" content="ON">
  <meta http-eqiv="cleartype" content="ON">
  <link href="phone-css/marketing-personInfo.css" rel="stylesheet" type="text/css" />
  <link href="phone-css/common.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="panel">
      <div class="person-box">
          <div class="upload-img" ng-click="downloadFile()">上传头像</div>
          <input type="file" id="downloadFile" style="display: none;" onchange="selectImg(this)" accept="image/*"/>
          <img ng-if="userInfo != null" class="person-img" ng-src="{{userInfo.userHeader}}"
               onerror="javascript:this.src='img/defalte-head.jpg';" alt="">
          <img ng-if="userInfo == null" class="person-img" ng-src="img/defalte-head.jpg" alt="">
          <div class="right-content">
              <p ng-if="userInfo == null">&nbsp;&nbsp;&nbsp;<span ng-click="go('phone-login')">登录</span>/<span
                      ng-click="go('phone-reg')">注册</span></p>
              <p ng-if="userInfo != null">&nbsp;&nbsp;&nbsp;{{userInfo.userName}}</p>
              <p class="level">等级：热血青铜</p>
          </div>
      </div>
    <div class="content-right">
        <div class="panel-width">
            <div class="content-small">
                <div class="small-left">
                    姓名
                </div>
                <div class="small-right">
                    <input type="text" placeholder="请输入姓名" name="phoneNo"  message="姓名" ng-model="userName"/>
                </div>
            </div>
            <div class="content-small">
                <div class="small-left">
                    电话
                </div>
                <div class="small-right">
                  <input type="text" placeholder="电话号码" name="phoneNo"  message="电话号码" ng-model="userPhone" readonly/>
                </div>
            </div>
            <div class="content-small">
                <div class="small-left">
                    性别
                </div>
                <div class="small-right">
<!--                  <input type="text" placeholder="完善性别信息" name="sex"  message="性别" ng-model="userSex"/>-->
                    <select name="" id="" ng-model="userSex">
                        <option value="1">男</option>
                        <option value="2">女</option>
                    </select>
                </div>
            </div>
            <div class="content-small">
                <div class="small-left">
                    毕业院校
                </div>
                <div class="small-right">
                  <input type="text" placeholder="完善毕业院校信息" name="graduation"  message="毕业院校" ng-model="userSchool"/>
                </div>
            </div>
            <div class="content-small">
                <div class="small-left">
                    任职企业
                </div>
                <div class="small-right">
                  <input type="text" placeholder="完善任职企业信息" name="companyInfo"  message="任职企业" ng-model="userCompany"/>
                </div>
            </div>
            <div class="content-small">
                <div class="small-left">
                    职位
                </div>
                <div class="small-right">
                    <input type="text" placeholder="完善职位信息" name="birthDay"  message="生日" ng-model="userPosition"/>
                </div>
            </div>
            <div class="content-small personInfo">
                <div class="small-left">
                    个人简介
                </div>
                <div class="personDiv">
                    <textarea class="personText" ng-model="userRemark">这位宝宝很懒,还不想让别人了解自己...</textarea>
                </div>
            </div>
        </div>
    </div>
  <div class="buttonDiv">
      <button class="login-button" ng-click="sub()">保存</button>
  </div>
  </div>
</body>
</html>