<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport"
    content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta http-equiv="Cache-Control" content="no-transform">
  <meta http-equiv="Cache-Control" content="no-siteapp">
  <meta name="applicable-device" content="pc">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-eqiv="cleartype" content="ON">
  <meta http-eqiv="cleartype" content="ON">
  <link href="phone-css/marketing-invoiceDetail.css" rel="stylesheet" type="text/css" />
  <link href="phone-css/common.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="panel">
    <!-- <div class="person-box">
      <img class="person-img" src="img/test.jpg" alt="">
      <div class="right-content">
        <p>&nbsp;&nbsp;&nbsp;<span>登录</span>/<span>注册</span></p>
        <p class="level">等级：-------</p>
      </div>
    </div> -->
    <div class="content-right">
        <div class="panel-width">
            <div class="class-title">
                <p class="class-text">发票详情</p>
            </div>
            <div class="content-small">
                <div class="small-left">
                    抬头类型
                </div>
                <div class="small-right">
                  <p>
                    <img class="radio" onclick="checkIt(this)" src="img/radio-act.png" alt="">
                    <span class="text-color-hui">企业单位</span>
                  </p>
                  <p style="margin-left: 1rem">
                    <img class="radio" onclick="checkIt(this)" src="img/radio-hui.png" alt="">
                    <span>个人/非企业单位</span>
                  </p>
                </div>
            </div>
            <div class="content-small">
                <div class="small-left">
                    发票抬头
                </div>
                <div class="small-right">
                  <input type="text" placeholder="" name="invoiceName"  message="发票名称" ng-model="invoiceName"/>
                </div>
            </div>
            <div class="content-small">
                <div class="small-left">
                    税号
                </div>
                <div class="small-right">
                  <input type="text" placeholder="" name="einName"  message="税号" ng-model="einName"/>
                </div>
            </div>
            <div class="content-small">
              <div class="small-left">
                  更多内容
              </div>
              <div class="small-right aliginRight">
                <input type="text" placeholder="填写备注,地址等(非必填)" name="moreInfo"  message="更多信息" ng-model="moreInfo"/> 
                <!-- <img class="more-img" src="img/right.png"> -->
              </div>
          </div>
        </div>
    </div>
    <div class="content-right">
      <div class="panel-width">
          <div class="content-small">
              <div class="small-left">
                  总金额
              </div>
              <div class="small-right aliginRight">
                <input type="number" placeholder="" name="totalAmount"  message="总金额" ng-model="totalAmount"/>元
              </div>
          </div>
          <div class="class-title">
              <p class="class-text">接收方式</p>
          </div>
          <div class="content-small">
              <div class="small-left">
                  电子邮件
              </div>
              <div class="small-right">
                <input type="text" placeholder="" name="einName"  message="税号" ng-model="einName"/>
              </div>
          </div>
      </div>
  </div>
  <div class="buttonDiv">
    <button class="login-button" ng-click="sub()">提交</button>
  </div>
  </div>
  <!-- footer bar -->
  <div class="footer-bar">
    <div class="footer-item" ng-click="go('phone-home')">
      <img src="img/index-hui.png" alt="">
      <p>首页</p>
    </div>
    <div class="footer-item" ng-click="go('phone-course')">
      <img src="img/class-hui.png" alt="">
      <p >课程</p>
    </div>
    <div class="footer-item" ng-click="go('phone-boutique')">
      <img src="img/jingpin-hui.png" alt="">
      <p>精品</p>
    </div>
    <div class="footer-item" ng-click="go('phone-mine')">
      <img src="img/my-act.png" alt="">
      <p class="font-act">我的</p>
    </div>
  </div>
</body>
</html>