<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport"
    content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta http-equiv="Cache-Control" content="no-transform">
  <meta http-equiv="Cache-Control" content="no-siteapp">
  <meta name="applicable-device" content="pc">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-eqiv="cleartype" content="ON">
  <meta http-eqiv="cleartype" content="ON">
  <link href="phone-css/marketing-myQuestions.css" rel="stylesheet" type="text/css" />
  <link href="phone-css/common.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="panel">
    <div class="person-box">
      <img class="person-img" src="img/test.jpg" alt="">
      <div class="right-content">
        <p>&nbsp;&nbsp;&nbsp;<span>登录</span>/<span>注册</span></p>
        <p class="level">等级：-------</p>
      </div>
    </div>
    <div class="content-right">
        <div class="panel-width">
            <div class="class-title">
                <p class="class-text">我的提问</p>
            </div>
            <div id="myQustion" class="content">
                <div class="qustion-list-box border-top">
                  <p class="">
                    <span class="qustion-icon">问</span>&nbsp;<span class="questionText">我们要什么样的市场部</span>
                    <span style="float: right; color: #999999;"><img class="questionTime"
                        src="img/time-icon.png" alt="">2019.08.01 周四 07:51 预约</span>
                  </p>
                  <p style="color: #999999;">
                    <span class="answer-icon">答</span>&nbsp;<span>谢良地 教授 答复</span>
                  </p>
                </div>
                <div class="qustion-list-box border-top">
                  <p class="">
                    <span class="qustion-icon">问</span>&nbsp;<span class="questionText">我们要什么样的市场部</span>
                    <span style="float: right; color: #999999;"><img class="questionTime"
                        src="img/time-icon.png" alt="">2019.08.01 周四 07:51 预约</span>
                  </p>
                  <p style="color: #999999;">
                    <span class="unanswer-icon">答</span>&nbsp;<span>导师还未回复</span>
                  </p>
                </div>
                <div class="qustion-list-box border-top">
                  <p class="">
                    <span class="qustion-icon">问</span>&nbsp;<span class="questionText">我们要什么样的市场部</span>
                    <span style="float: right; color: #999999;"><img class="questionTime"
                        src="img/time-icon.png" alt="">2019.08.01 周四 07:51 预约</span>
                  </p>
                  <p style="color: #999999;">
                    <span class="answer-icon">答</span>&nbsp;<span>谢良地 教授 答复</span>
                  </p>
                </div>
                <div class="qustion-list-box border-top">
                  <p class="">
                    <span class="qustion-icon">问</span>&nbsp;<span class="questionText">我们要什么样的市场部</span>
                    <span style="float: right; color: #999999;"><img class="questionTime"
                        src="img/time-icon.png" alt="">2019.08.01 周四 07:51 预约</span>
                  </p>
                  <p style="color: #999999;">
                    <span class="unanswer-icon">答</span>&nbsp;<span>导师还未回复</span>
                  </p>
                </div>
                <div class="qustion-list-box border-top">
                  <p class="">
                    <span class="qustion-icon">问</span>&nbsp;<span class="questionText">我们要什么样的市场部</span>
                    <span style="float: right; color: #999999;"><img class="questionTime"
                        src="img/time-icon.png" alt="">2019.08.01 周四 07:51 预约</span>
                  </p>
                  <p style="color: #999999;">
                    <span class="answer-icon">答</span>&nbsp;<span>谢良地 教授 答复</span>
                  </p>
                </div>
                <div class="qustion-list-box border-top">
                  <p class="">
                    <span class="qustion-icon">问</span>&nbsp;<span class="questionText">我们要什么样的市场部</span>
                    <span style="float: right; color: #999999;"><img class="questionTime"
                        src="img/time-icon.png" alt="">2019.08.01 周四 07:51 预约</span>
                  </p>
                  <p style="color: #999999;">
                    <span class="unanswer-icon">答</span>&nbsp;<span>导师还未回复</span>
                  </p>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- footer bar -->
  <div class="footer-bar">
    <div class="footer-item" ng-click="go('phone-home')">
      <img src="img/index-hui.png" alt="">
      <p>首页</p>
    </div>
    <div class="footer-item" ng-click="go('phone-course')">
      <img src="img/class-hui.png" alt="">
      <p >课程</p>
    </div>
    <div class="footer-item" ng-click="go('phone-boutique')">
      <img src="img/jingpin-hui.png" alt="">
      <p>精品</p>
    </div>
    <div class="footer-item" ng-click="go('phone-mine')">
      <img src="img/my-act.png" alt="">
      <p class="font-act">我的</p>
    </div>
  </div>
</body>
</html>