<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta http-equiv="Cache-Control" content="no-transform">
  <meta http-equiv="Cache-Control" content="no-siteapp">
  <meta name="applicable-device" content="pc">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-eqiv="cleartype" content="ON">
  <link href="phone-css/teacher-detail.css" rel="stylesheet" type="text/css" />
  <link href="phone-css/common.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="panel">

    <!-- 轮播图开始 -->
    <div ng-include="'include/banner.html'"></div>
    <!-- 轮播图结束 -->
    <!-- tab按钮开始 -->
    <div class="panel-width search-box">
      <div class="button-box" ng-click="tabChage(1)">
        <button id="course" class="tab-button">课程</button>
      </div>
      <i style="width:1px;height: 2.5rem;background:#ccc;margin-top: 0.6rem;"></i>
      <div class="button-box" ng-click="tabChage(2)">
        <button id="teacher" class="tab-button button-act">专家简介</button>
      </div>
    </div>
    <!-- tab按钮结束 -->

    <!-- 介绍开始 -->
    <div id="teacherid" class="panel-width" style="padding: 0 0.5rem; display: block">
      <div class="class-title">
        <p class="class-text">介绍</p>
      </div>
      <div class="panel-width desc-text" style="padding: 0 0.5rem;">
          <img src="{{teacherDetails.teacherImg}}" alt="">
          <p>
            <span>{{teacherDetails.teacherName}}</span><br>
            {{teacherDetails.teacherRemark}}
          </p>
      </div>
    </div>
    <!-- 介绍结束 -->
    <!--课程列表-->
    <div id="courseid" class="panel-width" style="display: none">
      <div class="class-title" ng-click="more('phone-course')">
        <p class="class-text">推荐课程</p>
      </div>
      <div class="content-right">
        <div class="content-small" ng-repeat="item in teacherDetails.courseGroupList" ng-click="goToDetails(item.courseGroupId)">
          <div class="small-left">
            <img class="small-left-img" src="{{item.courseGroupImg}}" alt="">
          </div>
          <div class="small-right">
            <p class=" small-title overflow-hidden">{{item.courseGroupName}}</p>
            <p class="small-desc">{{item.courseGroupRemark}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>