<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport"
    content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta http-equiv="Cache-Control" content="no-transform">
  <meta http-equiv="Cache-Control" content="no-siteapp">
  <meta name="applicable-device" content="pc">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-eqiv="cleartype" content="ON">
  <link href="phone-css/common.css" rel="stylesheet" type="text/css" />
  <link href="phone-css/home.css" rel="stylesheet" type="text/css" />
  <link href="phone-css/login.css" rel="stylesheet" type="text/css" />
  <style type="text/css">
    .input-box {
        height: 40px !important;
        width: 80%  !important;
        margin-left: 10%  !important;
        border-bottom: 1px solid #ff3728  !important;
        margin-top: 15px  !important;
    }
    .login-button-phone {
      width: 80% !important;
      margin-left: 10% !important;
    }
    .login-reg {
      width: 80% !important;
      margin-left: 10% !important;
    }
  </style>
</head>

<body>
  <div class="panel">
    <div class="login-box-phone">
      <div class="login-content-phone">
        <div class="class-title">
          <p class="class-text">用户须知</p>
        </div>
        <div style="padding: 10px; font-size: 1rem;">
          内容卡上的减肥啦剪短发啦；阿迪放假啊；
        </div>
      </div>
    </div>
  </div>
  <!-- footer bar -->
</body>
<style>
  .banner-img{
    display: block !important;
  }
</style>
</html>
