<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport"
    content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta http-equiv="Cache-Control" content="no-transform">
  <meta http-equiv="Cache-Control" content="no-siteapp">
  <meta name="applicable-device" content="pc">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-eqiv="cleartype" content="ON">
  <link href="phone-css/common.css" rel="stylesheet" type="text/css" />
  <link href="phone-css/home.css" rel="stylesheet" type="text/css" />
  <link href="phone-css/login.css" rel="stylesheet" type="text/css" />
  <style type="text/css">
    .input-box {
        height: 40px !important;
        width: 80%  !important;
        margin-left: 10%  !important;
        border-bottom: 1px solid #ff3728  !important;
        margin-top: 15px  !important;
    }
    .login-button-phone {
      width: 80% !important;
      margin-left: 10% !important;
    }
    .login-reg {
      width: 80% !important;
      margin-left: 10% !important;
    }
  </style>
</head>

<body>
  <div class="panel">
    <div class="login-box-phone" style="overflow: scroll;">
      <div class="login-content-phone">
        <div class="class-title">
          <p class="class-text">用户须知</p>
        </div>
        <div style="padding: 10px; font-size: 1rem;">
             ● 用户名和昵称的注册与使用应符合网络道德，遵守中华人民共和国的相关法律法规。

          　　<br>● 用户名和昵称中不能含有威胁、淫秽、漫骂、非法、侵害他人权益等有争议性的文字。

          　　<br>● 注册成功后，会员必须保护好自己的帐号和密码，因会员本人泄露而造成的任何损失由会员本人负责。

          　　<br>● 不得盗用他人帐号，由此行为造成的后果自负。


          　　<br>基于技术和不可预见的原因而导致的服务中断，或者因会员的非法操作而造成的损失，”医药市场推广”不负责任。会员应当自行承担一切因自身行为而直接或者间接导致的民事或刑事法律责任。

          　　<br>会员义务：

          　　<br>1、不得利用本站危害国家安全、泄露国家秘密，不得侵犯国家社会集体的和公民的合法权益，不得利用本站制作、复制和传播下列信息：

          　　<br>（1）煽动抗拒、破坏宪法和法律、行政法规实施的；

          　　<br>（2）煽动颠覆国家政权，推翻社会主义制度的；

          　　<br>（3）煽动分裂国家、破坏国家统一的；

          　  <br> (4）煽动民族仇恨、民族歧视，破坏民族团结的；

          　　<br>（5）捏造或者歪曲事实，散布谣言，扰乱社会秩序的；

          　　<br>（6）宣扬封建迷信、淫秽、色情、赌博、暴力、凶杀、恐怖、教唆犯罪的；

          　　<br>（7）公然侮辱他人或者捏造事实诽谤他人的，或者进行其他恶意攻击的；

          　　<br>（8）损害国家机关信誉的；

          　　<br>（9）其他违反宪法和法律行政法规的；

          　　<br>（10）进行商业广告行为的。

          　　<br>未经本站的授权或许可，任何会员不得借用本站的名义从事任何商业活动，也不得将本站作为从事商业活动的场所、平台或其他任何形式的媒介。禁止将本站用作从事各种非法活动的场所、平台或者其他任何形式的媒介。违反者若触犯法律，一切后果自负，本站不承担任何责任。

          　　<br>版权说明：

          　　<br>任何会员在本站发表任何形式的信息，均表明该用户主动将该信息的发表权、汇编权、修改权、信息网络传播权无偿独家转让给”医药市场推广”运营商。本协议已经构成《著作权法》第二十五条所规定的书面协议，并在用户同意本注册协议时生效，其效力及于用户此后在捞阅发布的任何内容。

          　　<br>会员同意并明确了解上述条款，不将已发表于本站的信息，以任何形式发布或授权其它网站（及媒体）使用。

          　　<br>同时，”医药市场推广”保留删除站内各类不符合规定点评而不通知会员的权利：

          　　<br>免责声明：

          　　<br>● “医药市场推广”是为互联网用户提供信息存储空间的互联网服务提供者，对于任何包含、经由或连接、下载或从任何与有关本网站所获得的任何内容、信息或广告，不声明或保证其正确性或可靠性；并且对于用户经本网站上的内容、广告、展示而购买、取得的任何产品、信息或资料，”医药市场推广”不负保证责任。用户自行负担使用本网站的风险。

          　　<br>●”医药市场推广”有权但无义务，改善或更正本网站任何部分之任何疏漏、错误。

          <br>本站内相关信息内容仅代表发布者的个人观点，并不表示本站赞同其观点或证实其描述，本站不承担由此引发的法律责任。
        </div>
      </div>
    </div>
  </div>
  <!-- footer bar -->
</body>
<style>
  .banner-img{
    display: block !important;
  }
</style>
</html>
