@charset "utf-8";
/* CSS Document */
body,p,h1,h2,h3,h4,h5,h6,ul,dl,dd,td,input,fieldset,textarea,option{ margin:0; padding:0; box-sizing: border-box}
li{list-style:none;}
a{text-decoration:none; color:#333;}
img{border:none; vertical-align:top; }
a,input{outline:none;}
h1,h2,h3,h4,h5,h6,b,strong{font-weight:100;}
i,em{font-style:normal;}
body{font:12px "微软雅黑";}
.clear{zoom:1;}
.clear:after{content:"."; display:block; clear:both; height:0; visibility:hidden;}
.fl{float:left;}
.fr{float:right;}
div,p{
    box-sizing: border-box
}

.panel{
    width: 100%;
    margin: 0 auto;
    padding-bottom: 5rem
}
.banner {
    width: 100%;
    height: 15rem;
    background-color: #333333;
    text-align: center
}
.video-play-button{
    position: absolute;
    width: 16%;
    opacity: 0.5;
    top: 37%;
    left: 43%;
}
.video-content{
    width: 100%;
    height: 15rem;
}
.panel-width{
    width: 100%;
    margin: 0 auto;
}
.search-box{
    display: flex;
    height: 3.7rem;
    box-shadow: 0px 0px 1px 1px #ccc;
}
.button-box{
    flex: 1;
    text-align: center;
    line-height: 4rem;
}
.tab-button{
    height: 3.5rem;
    width: 6rem;
    border-bottom: 0;
    background-color: white;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-size: 1.2rem;
    color: #999999;
}
.button-act{
    color: #ff3728;
    border-bottom: 5px solid #ff3728;
}
.class-title{
    height: 3.5rem;
    margin-top: 1rem;
}
.class-text{
    display: inline-block;
    height: 2.2rem;
    margin-top: 0.5rem;
    font-size: 1.7rem;
    border-left: 0.3rem solid #ff584f;
    padding-left: 0.5rem;
    line-height: 2.2rem;
}
.desc-text{
    font-size: 15px;
    line-height: 20px;
    color: #999999;
    padding-bottom: 20px;
}

/* footer bar */
.footer-bar{
    height: 5rem;
    width: 100%;
    z-index: 999;
    position: fixed;
    bottom: 0;
    display: flex;
    background-color: white;
    box-shadow: 0px 0px 1px 1px #ccc;
}
.footer-item{
    flex: 1;
    text-align: center;
    padding-top: 0.5rem;
}
.footer-item > img{
    width: 3.2rem;}
.footer-item > p{
    font-size: 1rem;
    color: #666666
}
.font-act{
    color: #ff584f !important
}