<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta http-equiv="Cache-Control" content="no-transform">
  <meta http-equiv="Cache-Control" content="no-siteapp">
  <meta name="applicable-device" content="pc">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-eqiv="cleartype" content="ON">
  <link href="css/bussinessIndex.css" rel="stylesheet" type="text/css" />
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
    crossorigin="anonymous"></script> -->
</head>

<body>
  <div class="panel">
    <!-- 头部开始 -->
    <div ng-include="'include/header.html'"></div>
    <!-- 头部结束  -->

    <!-- 轮播图开始 -->
    <div ng-include="'include/banner.html'"></div>
    <!-- 轮播图结束 -->

    <!-- 搜索开始 -->
    <div class="panel-width search-box">
      <div class="search-input-box">
        <img class="search-icon" src="img/search-icon.png" alt="">
        <input class="search-input" type="text" />
      </div>
      <img class="img-icon" src="img/search-more.png" alt="">
    </div>
    <!-- 搜索结束 -->

    <!-- 企业展示开始 -->
    <div class="panel-width">
      <div class="class-title">
        <p class="class-text">企业展示</p>
        <img class="more-img" src="img/right.png" alt="">
        <p class="more-text">更多</p>
      </div>
      <div class="content-box">
        <div class="content-left" ng-click="goCompanyDetails(companyRecommendList[0].companyId)">
          <img class="content-img" src="{{companyRecommendList[0].companyImg}}" alt="" />
          <span>{{companyRecommendList[0].companyName}}</span>
        </div>
        <div class="content-right">
          <div class="content-small"  ng-repeat="item in companyRecommendList track by $index" ng-if="$index != 0">
            <div class="small-left">
              <img class="small-left-img" src="{{item.companyImg}}" alt="">
            </div>
            <div class="small-right">
              <p class=" small-title overflow-hidden">{{item.companyName}}</p>
              <p class="small-desc">{{item.companyRemark}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 企业展示结束 -->

    <!-- 明星导师开始 -->
    <div class="panel-width">
      <div class="teachers-box">
        <div class="teacher-item" ng-repeat="item in companyList track by $index" ng-click="goCompanyDetails(item.companyId)">
          <img class="teacher-img" src="{{item.companyImg}}" alt="" />
          <p class="teacher-desc">{{item.companyName}}</p>
        </div>
        <div class="pager" id="pager"></div>
      </div>
    </div>
    <!-- 明星导师结束 -->

    <div ng-include="'include/footer.html'"></div>
  </div>
</body>

</html>