<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta http-equiv="Cache-Control" content="no-transform">
  <meta http-equiv="Cache-Control" content="no-siteapp">
  <meta name="applicable-device" content="pc">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-eqiv="cleartype" content="ON">
  <link href="css/classList.css" rel="stylesheet" type="text/css" />
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
    crossorigin="anonymous"></script> -->
</head>

<body>
  <div class="panel">
    <!-- 头部开始 -->
    <div ng-include="'include/header.html'"></div>
    <!-- 头部结束  -->

    <!-- 视频开始 -->
    <div class="banner" style="position: relative">
      <img id="videoImg" style="width: 900px; height: 490px;" src="{{courseGroup.courseGroupImg}}">
      <img id="videoButton" class="video-play-button" onclick="playVideo()" src="img/video-play.png" alt="">
      <video id="videoPlay" style="display: none" width="900" height="490" controls="controls">
        <source src="https://www.runoob.com/try/demo_source/movie.ogg" type="video/ogg">
        <source src="movie.mp4" type="video/mp4">
      </video>
    </div>
    <!-- 视频结束 -->
    <!-- tab按钮开始 -->
    <div class="panel-width search-box">
      <div class="button-box">
        <button class="tab-button button-act">课程</button>
      </div>
      <i style="width:1px;height:50px;background:#ccc;margin-top: 11px;"></i>
      <div class="button-box">
        <button class="tab-button">专家简介</button>
      </div>
    </div>
    <!-- tab按钮结束 -->

    <!-- 介绍开始 -->
    <div class="panel-width">
      <div class="class-title">
        <p class="class-text">介绍</p>
      </div>
      <div class="panel-width desc-text">
        {{courseGroup.courseRemark}}
      </div>
    </div>
    <!-- 介绍结束 -->
    <!-- 课程列表开始 -->
    <div class="panel-width">
      <div class="class-title">
        <p class="class-text">课程表</p>
        <img onclick="allCheck()" id="allCheck" class="more-img" src="img/checkbox-hui.png" alt="">
        <p class="more-text">全选</p>
      </div>
      <div class="panel-width">
        <div class="class-item" ng-repeat="item in courseGroup.courseList">
          <img onclick="play(this)" class="play-button" src="img/play-act.png" alt="">
          <p onclick="play(this)" class="class-item-title ">{{item.courseName}}<br><span
              style="font-size: 12px;color: #999999;">{{item.courseRemark}}</span>
          </p>
          <img onclick="checkOnclick(this)" class="checkbox-img" src="img/checkbox.png" alt="">
        </div>
      </div>
    </div>
    <!-- 课程列表结束 -->
    <!-- 我要提问底部 开始 -->
    <div class="panel-width quostion-footer">
      <p class="price"><span style="font-size: 15px">￥</span>39.00</p>
      <p class="hui-text"><span style="text-decoration:line-through">原价￥399</span><br>已有16人购买学习</p>
      <button class="quastion-button">立即购买</button>
    </div>
    <!-- 我要提问底部 结束 -->
    <div ng-include="'include/footer.html'"></div>
  </div>
</body>
</html>