<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta http-equiv="Cache-Control" content="no-transform">
  <meta http-equiv="Cache-Control" content="no-siteapp">
  <meta name="applicable-device" content="pc">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-eqiv="cleartype" content="ON">
  <link href="css/hotvideo.css" rel="stylesheet" type="text/css" />
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
    crossorigin="anonymous"></script> -->
</head>

<body>
  <div class="panel">
    <!-- 头部开始 -->
    <div ng-include="'include/header.html'"></div>
    <!-- 头部结束  -->

    <!-- 轮播图开始 -->
   <div ng-include="'include/banner.html'"></div>
    <!-- 轮播图结束 -->

    <!-- 精品content 开始 -->
    <div class="panel-width jp-content">
      <div class="jp-box"  ng-repeat="item in courseGroupList" ng-click="goToDetails(item.courseGroupId)">
        <img class="hot-video-img" src="{{item.courseGroupImg}}" alt="">
        <p class="content-title overflow-hidden">
      	  <span><span style="color:#ff584f" ng-bind-html="formmaterDate(item.courseGroupStartTime)"></span>|{{item.courseGroupName}}</span>
          <!--<span><span style="color:#ff584f">直播中</span><span style="color:#ff584f"></span>-->
          <!--<button class="bought-button">已购买</button>-->
          <button class="bought-button button-disable" ng-bind-html="searchCourseStatus(item.courseGroupId)"></button>
        </p>
        <p class="content-desc"><span style="color:#ff584f">{{item.payCount}}人</span>观看</p>
      </div>
      <div class="pager" id="pager"></div>
    </div>
  </div>
  <!-- 精品content 结束 -->
  <div ng-include="'include/footer.html'"></div>
  </div>
</body>

</html>