<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta http-equiv="Cache-Control" content="no-transform">
  <meta http-equiv="Cache-Control" content="no-siteapp">
  <meta name="applicable-device" content="pc">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-eqiv="cleartype" content="ON">
  <link href="css/teacherIndex.css" rel="stylesheet" type="text/css" />
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
    crossorigin="anonymous"></script> -->
</head>

<body>
  <div class="panel">
    <!-- 头部开始 -->
    <div ng-include="'include/header.html'"></div>
    <!-- 头部结束  -->

    <!-- 轮播图开始 -->
   <div ng-include="'include/banner.html'"></div>
    <!-- 轮播图结束 -->

    <!-- 搜索开始 -->
    <div class="panel-width search-box">
      <div class="search-input-box">
        <img class="search-icon" src="img/search-icon.png" alt="" ng-click="search()">
        <input class="search-input" type="text" ng-model="teacherName"/>
      </div>
      <img class="img-icon" src="img/search-more.png" alt="">
    </div>
    <!-- 搜索结束 -->
    <!-- 明星导师开始 -->
    <div class="panel-width" style="overflow: auto">
      <div class="class-title">
        <p class="class-text">明星导师</p>
      </div>
      <div class="teachers-box">
        <div class="teacher-item" ng-repeat="item in teacherList track by $index" ng-click="goTeacherDetails(item.teacherId)">
          <img class="teacher-img" src="{{item.teacherImg}}" alt="" />
          <p class="teacher-desc">{{item.teacherName}}</p>
        </div>
        <div class="pager" id="pager"></div>
      </div>
    </div>
    <!-- 明星导师结束 -->
    <div ng-include="'include/footer.html'"></div>
  </div>
</body>
</html>