@charset "utf-8";
/* CSS Document */
body,p,h1,h2,h3,h4,h5,h6,ul,dl,dd,td,input,fieldset,textarea,option{ margin:0; padding:0; box-sizing: border-box}
li{list-style:none;}
a{text-decoration:none; color:#333;}
img{border:none; vertical-align:top; }
a,input{outline:none;}
h1,h2,h3,h4,h5,h6,b,strong{font-weight:100;}
i,em{font-style:normal;}
body{font:12px "微软雅黑";}
.clear{zoom:1;}
.clear:after{content:"."; display:block; clear:both; height:0; visibility:hidden;}
.fl{float:left;}
.fr{float:right;}
div,p{
    box-sizing: border-box
}
html, body {
    height: 100%;
    margin: 0;
  }

body{
    width: 100%;
    height: 100%;
}

.panel{
    width: 100%;
    margin: 0 auto;
    padding-bottom: 5rem
}

/* footer bar */
.footer-bar{
    height: 5rem;
    width: 100%;
    z-index: 999;
    position: fixed;
    bottom: 0;
    display: flex;
    background-color: white;
    box-shadow: 0px 0px 1px 1px #ccc;
}
.footer-item{
    flex: 1;
    text-align: center;
    padding-top: 0.5rem;
}
.footer-item > img{
    width: 3.2rem;}
.footer-item > p{
    font-size: 1rem;
    color: #666666
}
.font-act{
    color: #ff584f !important
}
/* footer bar end*/


.question-but{
    width: 1.6rem;
    height: 1.8rem;
    background-color: #ff584f;
    color: white;
    border-radius: 4px;
    text-align: center;
    line-height: 1.8rem;
    display: inline-block;
}
.question-input{
    width: 85%;
    font-size: 1.6rem;
    height: 1.6rem;
    border: none;
}
.tow-box{
    padding: 0.5rem;
    border-bottom: 1px solid #cccccc;
}
.tow-box > p {
    display: inline-block;
    color: #999999
}
.tow-box > img {
    width: 1.4rem;
}
.tree-box > textarea {
    width: 100%;
    height: 7rem;
    margin-top: 1rem;
    border: none;
    color: #999999;
}
.camera-box{
    width: 7rem;
    height: 7rem;
    border: 1px dashed #cccccc;
    display: inline-block;
    text-align: center;
}
.camera-box > img {
    width: 5.5rem;
    margin-top: 0.5rem;
}
.camera-box > p {
   color: #999999;
}
.alert{
    width: 20rem;
    height: 13rem;
    background-color: #5a585abb;
    z-index: 999;
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 10px;
}
.alert-content{
    padding: 1rem;
    color: white;
    font-size: 1.6rem;
    line-height: 2rem;
    border-bottom: 1px solid white;
}
.alert-button{
    background: none;
    color: white;
    width: 100%;
    border: none;
    font-size: 1.7rem;
    margin-top: 0.4rem;
}